# ========================
# SERVER
# ========================
PORT=3000
NODE_ENV=development

# ========================
# POSTGRESQL
# ========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=exam_system
DB_USER=postgres
DB_PASSWORD=your_db_password

# ========================
# JWT
# ========================
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# ========================
# PYTHON NLP SERVICE
# ========================
NLP_SERVICE_URL=http://localhost:5001

# ========================
# BACKGROUND JOBS
# ========================
# Thời gian chạy Auto Submit tính bằng ms (VD: 60000 = 1 phút)
AUTO_SUBMIT_INTERVAL=60000

# Google Gemini API
GEMINI_API_KEY=your_api_key_here
