# ========================
# SERVER
# ========================
PORT=3000
NODE_ENV=development

# ========================
# POSTGRESQL
# ========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=exam_system
DB_USER=postgres
DB_PASSWORD=khoi05112004

# ========================
# JWT
# ========================
JWT_ACCESS_SECRET=e54d9d6cd84702728522aed7a6dbe73d3dc4aa15afeac8ea5176475f6704bc14
JWT_REFRESH_SECRET=91d6482dfa7e14036208f476598df02ccb15371991a5e9f1ad3cd0cc87c2b4dd
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# ========================
# PYTHON NLP SERVICE
# ========================
NLP_SERVICE_URL=http://localhost:5001

# Google Gemini API
GEMINI_API_KEY=your_api_key_here
